<div class="footer">
    <div id="divFooter">
     
      
      <div class="line-separator"></div>
   
      <div class="FooterSubText">Experian Ltd is authorised and regulated by the Financial Conduct Authority. Experian
        Ltd is registered in England and Wales under company registration number 653331.
      </div>
      <div class="FooterSubText">Registered office address. The Sir John Peace Building. Experian Way, NG2 Business
        Park, Nottingham NG80 1ZZ
      </div>
      <div class="FooterSubText">© 2018 Experian. All rights reserved</div>
      
    </div>
  </div>