<!-- Toolbar -->

<div class="headerContainer">
    <div class="experianLogo">
        <div><a href="/home" class="router-link-exact-active router-link-active"><img
                    src="../../assets/ExperianLogo.svg" alt="ExperianLogo"></a></div>
    </div>
    <div class="taafLogo">
        <div><a href="http://localhost:6789/testautomation" class="router-link-exact-active router-link-active"><img
                    src="../../assets/rsz_taaf_01.jpg" alt="TAAFLogo"></a></div>
    </div>
    <p class="productText">Daily Sanity Dashboard</p>
</div>